.onboarding_container {
  padding: 30px 35px;
}

.onboarding_left {
  margin-top: 1rem;
  margin-left: 7rem;
  width: 500px;
}

.onboarding_steps {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #9453e4;
}
.onboarding_heading {
  margin-top: 1.8rem;
  font-size: 1.7rem;
  font-weight: 800;
}

.onboarding_name {
  margin-top: 20px;
}

#onboarding_label {
  font-size: 15px;
  font-weight: 700;
  color: #47545c;
}

.onboarding_name_input {
  margin-top: 5px;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.onboarding_input {
  display: inline-block;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 3px 0;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid #a9cae7;
  border-radius: 8px;
  cursor: text;
  padding: 8px 12px 8px;
  font-size: 15px;
  transition: border 0.1s linear;
  min-height: 45px;
  width: 100%;
  min-width: 240px;
}

.onboarding_input:hover {
  border: 1px solid #4096ff;
}

.onboarding_input_big {
  display: inline-block;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 3px 0;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid #a9cae7;
  border-radius: 8px;
  cursor: text;
  padding: 8px 12px 8px;
  font-size: 15px;
  transition: border 0.1s linear;
  min-height: 45px;
  width: 100%;
  min-width: 490px;
}
.onboarding_input_big:hover {
  border: 1px solid #4096ff;
}

.onboarding_paragraph {
  margin-top: 18px;
  font-size: 14px;
}

.onboarding_span {
  font-weight: 600;
}
.onboarding_link {
  color: blue;
  font-weight: 700;
}

.onboarding_btn {
  margin-top: 25px;
  border: 1px solid #082cae;
  border-radius: 20px;
  padding: 10px 220px;
  background: #082cae;
  color: #fff;
  font-size: 16px;
}

.onboarding_btn:hover {
  background: #fff;
  cursor: pointer;
  color: #082cae;
  border: 1px solid #082cae;
}

