.btn-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 50px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 500px !important;
}

.ant-btn {
  background-color: #2046cf;
  color: #fff !important;
}

.ant-btn:hover {
  background-color: #697fcf !important;
}
