.fram_content_wrapper {
  width: 100%;
  max-width: 1600px;
  flex: 1 1 100%;
  padding: 24px 12px;
  margin: 0 auto;
  box-sizing: border-box;
}
.recuring_list {
  margin: 20px auto 0;
  text-align: left;
  width: 840px;
}

.grid_container {
  grid-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title_heading {
  display: block;
  color: #9453e4;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: 0.05em;
}

.recuring_list_heading_header {
  display: block;
  margin: 24px 0 16px;
  font-family: dinerosans, sans-serif;
  color: #1c252c;
  letter-spacing: -0.015em;
  font-size: 33px;
}

.title-description {
  color: #1c252c;
  margin-bottom: 32px;
  font-size: 23px;
}

.ant-btn-primary {
  text-align: center;
  height: 45px;
  background-color: #2046cf !important;
  font-size: 16px;
  min-width: 100px;
  border-radius: 500px;
  cursor: pointer;
}

.ant-btn:hover {
  background-color: #1a3eab !important;
}

.wv-image {
  max-width: 380px;
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
}

.wv-text{
  margin: 16px 0;

}

.recuring_list_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  text-align: center;
}


.recuring_list_wrapper_column_heading{
  color: #1c252c;
  margin-bottom: 8px;
  font-size: 19px;
}
