/*  */

.step-badge__inner {
  align-items: center;
  background: #fff;
  border: 2px solid #2046cf;
  border-radius: 50%;
  box-sizing: border-box;
  color: #2046cf;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  font-size: 17px;
}

.step-badge__inner--checked,
.step-badge__inner--disabled {
  border-style: solid;
  border-width: 2px;
  height: 40px;
  margin: 0 6px;
  width: 40px;
}
.step-badge__inner--disabled {
  background: #fff; /* Set background color for the disabled state */
  border-color: #b4c2cb; /* Set border color for the disabled state */
  color: #b4c2cb; /* Set text color for the disabled state */
}
.step-badge__inner--checked {
  background: #2046cf;
  border-color: #2046cf;
  color: #fff;
}

.step-badge__icon {
  color: #fff; /* Icon color for the checked state */
}
