.navbar {
  padding: 0px 20px;
}

.logoImage {
  height: 40px;
}

.navbar-button{
    color: #001b66;
  font-family: dinerosans, sans-serif;
  font-weight: bold;
  background: #e6f3ff;
  border: none;
  border-radius: 8px;
  width: 224px;
  height: 40px;
  margin: 8px 16px 8px 8px;
  cursor: pointer;
  color: #1c252c;
}

.navbar-button:hover{
    background-color: #d1e4f5;
    color: #1c252c;
}