.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: left 0.2s ease-in-out;
  overflow-y: hidden;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 0px 10px 0px 10px; */
  /* animation: easeInFromLeft 300ms ease-in-out; */
}

.left-container-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 0px -40px 80px;
  padding: 40px;
  /* white-space: nowrap; */
  max-width: 520px;
}

.span-text {
  letter-spacing: 0.28px;
}

/* .image-container {
  height: 208px;
  width: 247px;
} */

.text-container {
  line-height: 1.4;
  font-size: 26px;
  font-weight: 900;
  margin-top: 20px;
}

.ul-parent-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 2;
  margin-top: 22px;
  gap: 2px;
}

.ul-text {
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2px;
  list-style: none;
}
.tick-png {
  /* height: 22px;
  width: 22px; */

  color: greenyellow;
}
.li_text {
  display: flex;
  gap: 2px;
}

.right-container--login {
  background-color: #e8effd;
  min-height: auto;
  width: 544px;
  margin: 40px 2px 0 0;
  padding: 25px;
  border-radius: 16px;
  animation: opacity 1s both;
}

.right-header {
  height: 50px;
  width: 100px;
  font-size: 17px;
}

.logo {
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  gap: 13px;
}
.logo img {
  height: 100%;
  width: 100%;
}

.right-signin {
  display: flex;
  flex-direction: column;
}

.text-signin {
  margin: 16px 0;
  letter-spacing: 0.7px;
  font-size: 20px;
}

.text-signin h2 {
  font-weight: bolder;
}
.text-email {
  display: inline;
}

.label-div {
  display: flex;
  flex-direction: column;
}

.label-text {
  font-size: 16px;
  font-weight: 700;
  color: #68757d;
}

.text-password {
  margin-top: 0px;
}
.anchor-div {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 800;
}
.forgot-link {
  text-decoration: none;
  cursor: pointer;
  color: #2046cf;
  margin-left: 4px;
}
.forgot-link:hover {
  text-decoration: underline;
  font-weight: 800;
  color: #264fe5;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #0a2ca9;
}

.line {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.line-line {
  display: block;
  height: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #d4dde3;
  overflow: hidden;
  content: '';
  top: 50%;
  width: 48%;
}

#text {
  text-align: center;
  text-transform: lowercase;
  margin: 16px auto;
  position: relative;
  display: block;
  overflow: hidden;
}

.google-btn:hover {
  cursor: pointer;
  background-color: #1b6cf2;
}

.footer-text {
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
}

.footer-p {
  text-align: center;
}

.sign_in--span {
  color: #2046cf;
  font-weight: 600;
  text-decoration: none;
}

.sign_in--span:hover {
  text-decoration: underline;
  max-width: fit-content;
  color: #264fe5;
  cursor: pointer;
  line-height: 1;
}

.footer-text-2 {
  margin-top: 10px;
}

.chat-btn {
  background-color: rgb(0, 27, 102);
  height: 44px;
  width: 44px;
  color: rgb(255, 255, 255);
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
  position: absolute;
  right: 40px;
  bottom: 24px;
  overflow: hidden;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.12);
  animation: button-fade-in 200ms ease 0s;
}

@keyframes easeinfromLeft {
  0% {
    transform: translateX(-520px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .container {
    margin: auto;
    padding: 2px 3px;
  }

  .left-container {
    display: none;
  }

  .right-container {
    margin-left: 40px;
    min-width: 200px;
    padding: 0px auto;
  }
}
