.modal-window {
  position: fixed;
  border-radius: 16px 0 0 16px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  transform: translateZ(0);
  z-index: 10020;
}

.modal-window-open {
  position: relative;
  /* transform: translate(5%, 50%); */
  z-index: 10021;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 0 18px;
}

.dialog-box {
  position: absolute;
  top: 3%;
  left: 100px;
  margin: 36px auto;
  box-shadow: 0px 5px 10px -5px #47545c;
  min-width: 320px;
  max-width: 660px;
  position: relative;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #d4dde3;
  background: #fff;
}

.dialog-header_title {
  margin: 0;
  padding: 20px 48px;
  font-size: 21px;
  font-weight: 900;
}

#icon_cross {
  margin-right: 20px;
  font-size: 20px;
}

#icon_cross {
  cursor: pointer;
  color: #6c7275;
}

.hr_line {
  border: 1px solid grey;
}

.nav_items {
  background: #fff;
  padding: 12px 24px;
}
.nav_items_nav {
  position: relative;
  margin: 18px 0;
  width: 100%;
  text-align: center;
}

.wvmodal {
  background: #fff;
  padding: 10px 32px;
}



.nav_item_ul {
  display: flex;
  padding: 8px;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f1f5fe;
  border-radius: 12px;
}

.nav_item_li {
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
}


.nav_item_li:active {
  padding: 5px 10px;
  border-radius: 8px;
  color: black;
 background-color: #dee8fc;


}
.nav_item_li:hover {
  /* padding: 5px 10px; */
  border-radius: 8px;
  color: black;
  background-color: #dee8fc;
}
.active_li{
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  
}
.active_li:hover{
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  
}
.nav_item_li:focus {
  padding: 5px 10px;
  border-radius: 8px;
  color: black;
 background-color: #fff;
box-shadow: 10px 2px 30px 10px solid #fff;
}

.outlet{
margin: 20px auto;
padding: 0px 60px;
 
}
