.recuring_invoice_body {
  margin: 20px auto;
  width: 820px;
}
.wv-box {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #b4c2cb;
  background-color: #fff;
}

.wv-workflow::after {
  z-index: auto;
  content: '';
  position: absolute;
  left: 35px;
  border: 2px solid #b4c2cb;
  height: 20px;
  top: calc(100% + 1px);
  z-index: auto;
}

.wv-box_content {
  margin-bottom: 0px;
  padding: 8px;
}
.wv-workflow__task {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  /* margin-left: 20px; */
  border-radius: 8px;
  border: 1px solid #b4c2cb;
  background-color: #fff;
  position: relative;
}

.wv-heading--schedule {
  color: #68757d;
  font-weight: normal;
  font-size: 16px;
  margin-left: 17px;
}

.recuring_invoice_create_box_info {
  flex: 1;
  margin-left: 13px;
}
.recuring_invoice_create_box_option {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 34px;
}
.wv-heading--subtitle {
  color: #68757d;
  font-weight: normal;
  font-size: 16px;
}
.recuring_invoice_create_box_info_button {
  margin-left: 10px;
}
.recuring_invoice_create_content {
  padding-left: 70px;
  margin-left: 16px;
}
.wv-text-strong {
  font-weight: bold;
  columns: black;
}
.recuring_invoice_create_content_box {
  margin-bottom: 20px;
 
}
.is-highlighted {
  box-shadow: 0 8px 32px rgba(71, 84, 92, 0.35);
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0);
}
.wv-box > :first-child {
  margin-top: 0;
}

.recuring_invoice-section {
  padding-bottom: 10px;
}

.wv-content {
  display: flex;
  justify-content: center;
}

.wv-content_primary {
  flex: 1;
}
.schedule_setting_container {

  margin-top: 12px;
}
.schedule_setting_row {
  display: flex;
  align-items: center;
  /* justify-content: space-between  ; */
  gap: 8px;
  /* flex: 1; */
  margin-bottom: 10px;
  margin-left: 70px;
}
.setting_row_label {
  margin-left: 20px;
  position: relative;
  text-align: right;
  /* top: 8px; */
  font-size: 14px;

}

.setting_row_label_inputs {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5px; */
  gap: 5px;
}

#text_week {
  color: #1c252c;
  font-size: 16px;
}



.wv-box--grey {
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: none;
  border: none;
  background: #ecf0f3;
}
.flex_container_toCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
.get_paid_header {
  flex: 7;
}
.wv-heading--subtitle {
  color: #68757d;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
}
.recurring-invoice-flex-content-area {
  flex: 11;
}
.flex-container--with-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
