.table_container {
  margin-right: -16px;
  margin-left: -16px;
  border-color: #b4c2cb;
}
table {
  border-collapse: collapse;
  border-spacing: 2px;
}

thead {
  background: #ecf0f3;
  border-width: 2px;
  border-bottom: 1px solid #d4dde3;
  font-size: 17px;
  font-weight: 600;
}

.header_table {
  padding-left: 4px;
  padding-right: 4px;
}

.body_row {
  margin-top: 20px;
}

#body_of_table {
  background-color: #f5faff;
}

.row_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item_inputs {
  margin-right: 5px;
  display: flex;
  gap: 6px;
}
.quantity_price {
  display: flex;
  margin-left: 18px;
  gap: 10px;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  gap: 40px;
}

#delete_icon {
  color: #2046cf;
  transition: all 0.3s ease-in-out;
}

#delete_icon:hover {
  color: red;
  cursor: pointer;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_container {
  margin-left: 6px;
  position: relative;
  display: inline-block;
}

#anchor_link_edit {
  color: #2046cf;
  font-weight: 600;
  font-size: 16px;
}

#anchor_link_edit:hover {
  color: #2345a4;
  text-decoration: underline;
}

.right-container {
  margin-right: 80px;
}

.span_text {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

#input_select {
  display: inline-block;
  box-sizing: border-box;
  margin: 4px 0;

  vertical-align: middle;

  border: 1px solid #a6c8e7;
  border-radius: 8px;
  cursor: text;
  padding: 8px 10px 6px;
  transition: border 0.1s linear;
  min-height: 40px;
  width: 100%;

  cursor: pointer;
  font-style: italic;
  padding-right: 26px;
  background: #fff;
  margin: 0;
}

.dynamic_button {
  margin-top: 25px;
  border-top: 1px solid #d4dde3;
  padding: 13px 15px;
  border-bottom: 1px solid #d4dde3;
}

.dynamic_button:hover {
  background-color: #f1f4f6;
  cursor: pointer;
}

.button_add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 7px;
  border: none;
  outline: none;
  color: #2046cf;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 16px;
}

.button_add:hover {
  cursor: pointer;
}

.invoice-add-totals {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 8px 0;
}

.invoice-add-totals_amount {
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 4rem;
}
.invoice-add-totals_label {
  max-width: 500px;
}
.wv-text--inline {
  display: inline;
  font-size: 16px;
}

.invoice-add-totals_label_amount {
  margin-left: 1px;
  overflow-wrap: break-word;
  width: 143px;
}

.invoice_btn {
  gap: 3px !important;
  display: flex;
  height: 100%;
  margin-right: 13rem;
  border: none;
  outline: none;
  color: #2046cf;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 16px;
}

#amount_span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.select_currency {
  margin-right: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
}
.wv-text-currency {
  margin-left: 40px;
}

.invoice-memo {
  border-top: 1px solid #d4dde3;
  margin: 0 -16px;
  padding: 20px;
}

.invoice-memo-text {
  color: #68757d;
  font-weight: bold;
}

.text-area {
  display: inline-block;
  box-sizing: border-box;
  margin: 4px 0;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid #a6c8e7;
  border-radius: 8px;
  cursor: text;
  padding: 8px 10px 6px;
  transition: border 0.1s linear;
  min-height: 40px;
  width: 100%;
  min-width: 160px;
  resize: none;
}
